@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-kumbh), var(--font-tamil), sans-serif;
  text-rendering: optimizeLegibility;
}

.text-style{
  font-size: 18px;
    line-height: 40px;
    font-weight: 600;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid lightgray;
  border-top: 5px solid blue;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.center-nav li {
  font-size: 18px;
    line-height: 40px;
    font-weight: 600;
}

/* globals.css or tailwind.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-flex;
  animation: marquee 50s linear infinite;
  will-change: transform;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}
h1 {
  font-size: 2rem;       
  line-height: 2.5rem;      
  font-weight: 600;
  letter-spacing: -0.02em;
}


h2 {
  font-size: 2rem;      /* 24px */
  font-weight: 600;

}

h3 {
  font-size: 1.25rem;     /* 20px */
  line-height: 1.75rem;   /* 28px */
  font-weight: 600;
  margin-bottom: 0.5rem;
}

h4, h5, h6 {
  font-size: 1.125rem;    /* 18px */
  line-height: 1.5rem;    /* 24px */
  font-weight: 600;
  margin-bottom: 0.5rem;
}

/* Paragraphs */
p {
  font-size: 1rem;        /* 16px */
  line-height: 1.75rem;   /* 28px */
  font-weight: 400;
  margin-bottom: 1rem;
}

/* Small / description text */
.small-text,
.description {
  font-size: 0.875rem;    /* 14px */
  line-height: 1.5rem;    /* 24px */
  font-weight: 400;
  color: #6b7280;         /* Tailwind gray-500 */
}






